* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

    a:hover{
        color: aquamarine;
    }